.container {
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: center;
}
.input-container {
  width: 50%;
  height: 100%;
  background-color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: rgb(29, 72, 151);
  margin-top: 20px;
  border-radius: 5px;
}
.input-container h1 {
  margin-top: 20px;
}
.input input {
  width: 300px;
  height: 27px;
  margin-right: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding: 5px;
  padding-left: 20px;
  border: 1px solid #b6b6b6;
  border-radius: 5px;
  box-shadow: 5px 5px 20px rgb(97, 97, 97);
}
.input button {
  width: 100px;
  height: 40px;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  background-color: teal;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
}
button {
  cursor: pointer;
}
.search {
  width: 100%;
  margin-top: 25px;
}
.search input {
  width: 500px;
  height: 35px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding: 5px;
  padding-left: 20px;
  border: 1px solid #b6b6b6;
  border-radius: 5px;
  box-shadow: 5px 5px 20px rgb(97, 97, 97);
}
.todo {
  width: 90%;
  height: 60px;
  margin: auto;
  margin-top: 20px;
  border-radius: 5px;
  background-color: skyblue;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: rgb(51, 50, 50);
}
.list-container {
  width: 100%;
  height: 70%;
  overflow-y: scroll;
  margin-top: 20px;
}
.btn-edit {
  width: 60px;
  height: 40px;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  background-color: rgb(39, 119, 1);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
}
.title {
  overflow: hidden;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.edit-btn-div {
  width: 16.5%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.delete-btn-div {
  width: 16.5%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkbox-div {
  width: 16.5%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkbox-div input {
  width: 60%;
  height: 60%;
  cursor: pointer;
  color: rgb(243, 25, 69);
}
.btn-Delete {
  width: 60px;
  height: 40px;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  background-color: rgb(240, 71, 71);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
}
.checked {
  background-color: lightgreen;
}
.disable{
  background-color: #757575;
}